<div class="mt-8">
  <h2 class="font-poppins text-2xl">Which application of Vaxine are you most excited about?</h2>

  <div>
    <.live_component module={ReactionCounter} id="multiplayer-gaming" emoji="🎮">
      Easily-synchronized multiplayer games
    </.live_component>

    <.live_component module={ReactionCounter} id="multiuser-apps" emoji="🖱️">
      Apps with multi-user collaboration superpowers
    </.live_component>

    <.live_component module={ReactionCounter} id="geodistributed-apps" emoji="🗺️">
      Geo-distributed apps with no interaction latency
    </.live_component>
  </div>

  <hr class="border-primary mt-16 mb-4" />
  <div class="prose">
    <h2 class="font-poppins text-2xl">What's all this?</h2>
    <p>
      This is a simple counter demo utilizing the geo-distributed
      <a href="https://vaxine.io">Vaxine database</a>
      .
      It demonstrates how geo-distributed databases help with write-path latency even for such simple applications as a list of counters.
      You can find the source code of this demo and instructions on how to run it yourself
      <a href="https://github.com/vaxine-io/examples/blob/main/basic_counter">on GitHub</a>.
    </p>
    <p>
      But that's not all! To find out more about how geo-distribution affects latency for users, and how Vaxine can help with that
      — head over to our <a>advanced counter demo</a>
      . It will show you how the users around the world percieve the same application.
    </p>
  </div>
</div>
